* {
  margin: 0;
  padding: 0;
  
}
body.loading {
    /* overflow: hidden; */
    height: 100vh;
   
}
.Heroimg{
    position: absolute;
  
    z-index: 5;
    width: 35em;
    display: none;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    vertical-align: middle;
;
    
}
@media screen and (max-width: 480px){
   .Heroimg{
       
    position: absolute;
    z-index: 5;
    width: 35em;
    display: inline-block;
    max-width: 100%;
    object-fit: contain;
   
   }

}
@media screen and (max-width: 768px){

    .Heroimg{
       width:100%;
        position: relative;
        top: -4em;
      
        display: inline-block;
    }
   
 }
 @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Patua+One&display=swap');